MAIL_USERNAME = 
MAIL_PASSWORD = 
# Mailtrap
MAILTRAP_MAIL_SERVER = 'smtp.mailtrap.io'
MAILTRAP_MAIL_PORT = 2525
MAILTRAP_MAIL_USERNAME =
MAILTRAP_MAIL_PASSWORD =
MAILTRAP_MAIL_USE_TLS = True
MAILTRAP_MAIL_USE_SSL = False
# Sendgrid
SENDGRID_MAIL_SERVER = 'smtp.sendgrid.net'
SENDGRID_MAIL_PORT = 587
SENDGRID_MAIL_USERNAME = apikey
SENDGRID_MAIL_PASSWORD = 
FS_ADMIN = etunimi.sukunimi@yritys.fi
LOCAL_DB_NAME = 'flaskprojekti'
LOCAL_DB_USERNAME = 'root'
LOCAL_DB_PASSWORD = ''
SECRET_KEY = 'hard to guess string' 
# Azure Omnia
AZURE_OMNIA_DB_NAME = 'flask_sovellusmalli'
AZURE_OMNIA_DB_USERNAME = 'db_Username'
AZURE_OMNIA_DB_PASSWORD = 'db_Password'
AZURE_OMNIA_DB_SERVER = 'flaskprojekti.mysql.database.azure.com'
WEBSITE_HOSTNAME = 'flaskprojekti.azurewebsites.net'
AZURE_STORAGE_CONNECTION_STRING = "DefaultEndpointsProtocol=https;AccountName=omnia;AccountKey=;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER = "kuvat"