{% extends "base.html" %}
{% block head %}
{{ super() }} 
<link href="{{ url_for('static', filename='users.css') }}" rel="stylesheet">
{% endblock %}

{% import "_macros.html" as macros %}

{% macro render_user(user) %}
<tr>
<td><a href="{{ url_for('.edit_profile_admin', id=user.id) }}">{{ user.name }}</a></td>
<td>{{ user.email }}</td>
<td class="td-keskitetty">
<input type="hidden" value="{{ user.id }}" name="users">
{% if current_user.id == user.id %}
<input type="hidden" value="{{ user.id }}" name="active">
{% else %}
<input type="checkbox" {{ 'checked' if user.active }} value="{{ user.id }}" name="active">
{% endif %}
</td>
<td class="td-keskitetty">
{% if current_user.id != user.id %}    
<a title="poista" class="trash-space" href="#" onclick="poista('{{ user.id }}','{{ user.name }}')">
<i class="fas fa-trash-alt"></i></a>
{% endif %}
</td>
</tr>
{% endmacro %}

{% block title %}Flask-sovellus users{% endblock %}
{% block page_content %}

<script>
function poista(id,nimi){
let url = "{{ url_for('main.poista') }}";
if (confirm("Poistetaanko "+nimi+"?")){
  console.log('poisto, lähetetään: ',id, " osoitteeseen: ",url)
  const csrfToken = document.querySelector('#csrf_token').value;
  let formdata = new FormData();
  formdata.append('id', id);
  fetch(url, {
    method: 'POST',
    headers: { 'X-CSRF-TOKEN': csrfToken },
    body: formdata
    })
  .then(response => {
    if (!response.ok) {
        throw new Error(`HTTP-virhe, status: ${response.status}`)
        }
    return response.json(); // Continue with processing the response if it's OK
    })
  .then(data => {
      if (data.virhe) throw new Error(data.virhe)
      else console.log(data.OK)
      location.reload()  
      })
  .catch(error => console.error(error.message));
  // Huom. tässä ei tulosteta virhetilannetta käyttäjälle virhe-elementtiin.
  }
return false;
}     
</script>

<div class="page-header">
    <h1>Users</h1>
    {% if current_user.is_administrator() %}
    <form id="lomake" method="POST">
    <input type="hidden" value="{{ csrf_token() }}" name="csrf_token" id="csrf_token" />
    {# {{ form.hidden_tag() }} #} 

    <table class="table table-striped">
    <tr><th>Name</th><th>Email</th><th>Aktiivinen</th><th>Poista</th></tr>    
        {% for user in users %}
        {{ render_user(user) }}
        {% endfor %}
    </table>
    <input class="btn btn-primary" type="submit" name="painike" value="Tallenna">
    </form>
    {% if pagination %}
    {{ macros.pagination_widget(pagination, '.users') }}
    {% endif %}
    {% endif %}
</div>

{% endblock %}